.container{
  max-width: 50em;
  margin: 0 auto;
}

body{
  margin: 0;
  background:linear-gradient(to bottom, rgba(255, 0, 255, .5),rgba(255, 204, 0, .5));
  background-attachment: fixed;
}

h1{
  text-align: center;
  font-size: 8em;
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Fira sans', monospace;
}

p{
  font-family: 'Barlow', monospace;
  margin-top:5rem;
  font-size: 1.2em;
  line-height: 1.5em;
  color:white;
}

header h2{
  font-family: 'Fira sans', monospace;
  text-transform: uppercase;
  font-size: 1.3em;
  color:white;
}
